[Unit]
Description=Run photo display
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/Digital-Photo-Frame/scripts/run.sh
Restart=always

[Install]
WantedBy=multi-user.target