[Unit]
Description=Run photo display
After=multi-user.target

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
User=pi
ExecStart=/home/pi/Digital-Photo-Frame/scripts/run.sh
Restart=always

[Install]
WantedBy=multi-user.target